body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
}

html {
  touch-action: manipulation;
}

#root {
  position: "relative";
  height: 100%;
  width: 100%;
}